<h3>Report Recent Spendings and Earnings</h3>
<form action="/report" method="post">
    <!-- Transaction Dropdown -->
    <label for="info">Transaction Type:</label>
    <select name="info" id="info">
        <option value="0">Select Type of Transaction</option>
        {{#each categories}}
            <option value="{{id}}" {{#if (eq ../previous.categoryId id)}}selected{{/if}}>{{name}}</option>
        {{/each}}
    </select>
    {{#if errors.TypeMissing}}<br /><i>Please select a transaction type</i>{{/if}}
    <br /><br />

    <label for="amount">Amount:</label>
    <input type="text" name="amount" id="amount" value="{{previous.amount}}" />
    {{#if errors.amountIllegal}}<br /><i>Amount must be a valid number with at least 2 decimal places</i>{{/if}}
    <br /><br />

    <label for="description">Description (optional):</label>
    <input type="text" name="description" id="description" value="{{previous.description}}" />
    <br /><br />

    <label for="type">Income or Expense:</label>
    <select name="type" id="type">
        <option value="income" {{#if (eq ../previous.type "income")}}selected{{/if}}>Income</option>
        <option value="expense" {{#if (eq ../previous.type "expense")}}selected{{/if}}>Expense</option>
    </select>
    {{#if errors.TypeMissing}}<br /><i>Please select a transaction type</i>{{/if}}
    <br /><br />

    <label for="date">Transaction Date:</label>
    <input type="date" name="date" id="date" value="{{previous.date}}" />
    <br /><br />

    <input type="submit" value="Report" />
</form>
